
body{
  margin: 0px;
  text-align: center;
  font-family:'Merriweather', serif;
  font-size: 200%;
  margin-bottom: 0px;
}
h1{
  margin:50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  line-height: 2;
  color: #6B7AA1;
}
h2{
  text-align: center;
  margin-top: 0px;
  font-family: 'Montserrat', sans-serif;
  color: #5089C6;
}
p{
  font-size: 1.5rem;

}
.design{
  color: #5089C6;
}
h3{
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #6B7AA1;
  font-weight:bold;
}
hr{

    border-style: none;
    border-top: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;

}

.topcontainer{
  background-color:  #C1CFC0;
  padding-top: 100px;
  position:relative;

}
.topcloud{

  position: absolute;
right: 200px;
top: 50px;
}
.skillrow{
  width: 50%;
    margin:100px auto 100px auto;
  text-align: left;
  line-height: 2;

}
.pro{
  text-decoration: underline;
}
.bottomcloud{
  position: absolute;
    /* position: relative; */
    left: 200px;
    bottom: 400px;
}
.para{
  margin: 0px;
}
.mountain{
  height: 600px;
  width: 900px;
}
.middlecontainer{
  background-color: lightblue;
}
.contact{
  text-align: center;
  width: 50%;
  margin: auto;
}
.bottomcontainer{
  margin-bottom: 0px;
  margin: auto;
  background-color: #87cefa;
  text-align: center;
  padding: 50px 0 20px;
}
.computer{

  float: left;
  margin-right: 30px;
}
.game{
  width: 25%;
  float:right;
  margin-left: 10px;
  margin-right:20px;
}
.code{
  margin-left: 50px;
}
.description{
  margin: 10px auto 20px auto;
  font-size: 25px;
  font-weight: bold;
}
.footerlink{
  margin: 10px 20px;
  font-size: 20px;
}
.footerlink:hover{
  color: #EAF6F6;
}
.copyright{
  font-size: 0.75rem;
}
/*.hobbies{
  width:50%;
  margin: auto;
  text-align: left;
  float: left;
  margin-right: 30px;
}*/
.circular{
  border-width: 200px;
  border-radius: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.nh{
  width: 100%;
  text-align: center;
}
.Design{
  font-size: 2.5rem;

  color: #6B7AA1;
}
.btn {
  background: #a2b0ba;
  background-image: -webkit-linear-gradient(top, #a2b0ba, #16435e);
  background-image: -moz-linear-gradient(top, #a2b0ba, #16435e);
  background-image: -ms-linear-gradient(top, #a2b0ba, #16435e);
  background-image: -o-linear-gradient(top, #a2b0ba, #16435e);
  background-image: linear-gradient(to bottom, #a2b0ba, #16435e);
  -webkit-border-radius: 22;
  -moz-border-radius: 22;
  border-radius: 22px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 22px;
  padding: 8px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
